# Ambientes Virtuais
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# ANTLR - Ficheiros gerados (devem ser gerados localmente por cada membro)
src/MOCPLexer.py
src/MOCPParser.py
src/MOCPVisitor.py
src/MOCPListener.py
src/*.tokens
src/*.interp

# VS Code
.vscode/

# Sistema macOS
.DS_Store