# Ambientes Virtuais (Python)
.venv/
venv/
ENV/
env/
bin/
lib/
include/

# Byte-compiled / Cache (Python)
__pycache__/
*.py[cod]
*$py.class

# Ficheiros Temporários do ANTLR (Java)
.antlr/
*.interp
*.tokens

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# Binários e JARs (Opcional)
# antlr-4.13.1-complete.jar